<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="/"><img alt="car picture"
                                              th:src="@{/images/car.png}"
                                              class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto col-12 justify-content-between">
                <li class="nav-item">
                    <a class="nav-link" th:text="#{navbar_search}" href="/offers/search">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:text="#{navbar_all_offers}" href="/offers/all">All Offers</a>
                </li>
                <th:block>
                    <li class="nav-item">
                        <a class="nav-link" th:text="#{navbar_all_brands}" href="/brands/all">All Brands</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:text="#{navbar_add_offer}" href="/offers/add">Add Offer</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/">Action</a>
                            <a class="dropdown-item" href="/">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <div class="form-inline my-2 my-lg-0 px-3">
                            <div class="text-white" >Welcome, <th:block th:text="${#authentication.principal.fullName}">X</th:block>!</div>
                            <form th:action="@{/users/logout}" th:method="post">
                                <input class="btn btn-link nav-link" type="submit" th:value="#{navbar_logout}">
                            </form>
                        </div>
                    </li>

                </th:block>

                <th:block sec:authorize="!isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link"
                           th:text="#{navbar_register}"
                           th:href="@{/users/register}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:text="#{navbar_login}"
                           th:href="@{/users/login}">Login</a>
                    </li>
                </th:block>

                <li class="nav-item">
                    <form th:method="get">
                        <label class="text-white" th:text="#{navbar_language}" for="lang"></label>
                        <select
                            onchange="this.form.submit()"
                            id="lang"
                            name="lang">
                            <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                            <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                        </select>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

</div>

</body>
</html>