<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pathfinder</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
</head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header>
    <nav class="main-nav">
        <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/">Login</a>
                </li>
                <li>
                    <a href="/">Register</a>
                </li>
                <li>
                    <a href="/">About</a>
                </li>
				<li>
                    <a href="/">Add new route</a>
                </li>
                <li>
                    <a href="/">Profile</a>
                </li>
                <li>
                    <a href="/">Admin</a>
                </li>
                <li>
                    <a href="/">Logout</a>
                </li>
        </ul>
    </nav>
</header>

    <section class="road">
        <div>
            <h2>Title</h2>
            <p>Very long description</p>
            <a href="/" class="btn">Learn More</a>
        </div>
        <img class="rounded-circle w-75 ml-5" src="/images/pic1.jpg" alt="Title image">
    </section>
</div>
<!-- Wrapper Ends -->
</body>
<footer class="footer bg-blur rounded">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            &copy; Lucho, Chocho & Spring Advanced Students 2021. All rights reserved.
        </div>
    </div>
</footer>
</html>