<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pathfinder</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
</head>
<body>
<main class="p-5 align-content-center bg-blur my-register-div">
    <h1 class="border-bottom">Register</h1>
    <div class="d-flex justify-content-center ">
        <div class="row g-3">
            <form
                    action="/"
                    method="">
                <div>
                    <div class="col-auto">
                        <label for="inputUsername" class="col-form-label ">Username</label>
                    </div>
                    <div class="col-auto">
                        <input name="username"
                               
                               required minlength="5" maxlength="20"
                               type="text"
                               id="inputUsername"
                               class="form-control"
                               aria-describedby="usernameHelpInline">
                        <small id="usernameError"
                               class="invalid-feedback bg-danger rounded">Username length must be more than 3 characters</small>

                        <small id="usernameUniqueError"
                               class=" bg-danger rounded">Username is already occupied</small>

                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputFullName" class="col-form-label ">Full Name</label>
                    </div>
                    <div class="col-auto">
                        <input name="fullname"
                               required minlength="5" maxlength="20"
                               type="text"
                               id="inputFullName"
                               class="form-control"
                               aria-describedby="fullNameHelpInline">
                        <small id="fullNameError"
                               class="invalid-feedback  form-text bg-danger rounded">Full name length must be more than 3 characters</small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputEmail" class="col-form-label ">Email</label>
                    </div>
                    <div class="col-auto">
                        <input name="email"
								required
                               type="email"
                               id="inputEmail"
                               class="form-control"
                               aria-describedby="emailHelpInline">
                        <small id="emailError"
                               class="invalid-feedback  form-text bg-danger rounded">Must be valid email</small>
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <label for="inputAge" class="col-form-label ">Age</label>
                    </div>
                    <div class="col-auto">
                        <input name="age" required
                               type="number"
                               id="inputAge"
                               class="form-control"
                               min="0" max="90"
                               aria-describedby="ageHelpInline">
                        <small id="ageError"
                               class="invalid-feedback  form-text bg-danger rounded">Must be valid age</small>
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <label for="inputPassword" class="col-form-label ">Password</label>
                    </div>
                    <div class="col-auto">
                        <input name="password"
                                required minlength="5" maxlength="20"
                               type="password"
                               id="inputPassword"
                               class="form-control"
                               aria-describedby="passwordHelpInline">
                        <small id="passwordError"
                               class="invalid-feedback  form-text bg-danger rounded">
                            Password length must be between 5 and 20 characters and passwords should match.
                        </small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputConfirmPassword" class="col-form-label ">Confirm Password</label>
                    </div>
                    <div class="col-auto">
                        <input name="confirmPassword"
                                required minlength="5" maxlength="20"
                               type="password"
                               id="inputConfirmPassword"
                               class="form-control"
                               aria-describedby="confirmPasswordHelpInline">
                        <small id="confirmPasswordError"
                               class="invalid-feedback  form-text bg-danger rounded">
                            Password length must be between 5 and 20 characters and passwords should match.
                        </small>
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-primary btn-block w-50" type="submit">Register</button>
                </div>

            </form>
        </div>
    </div>
</main>
<footer class="footer bg-blur rounded">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            &copy; Lucho, Chocho & Spring Advanced Students 2021. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>