<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Mobilele!</h1>
    Dear <th:block th:text="${userName}">User</th:block>!
    <p>
        We are happy that you are part of our community now!
    </p>
    Best regards,
    The Mobilele team.
</body>
</html>