/* CSS Variables */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --lightGray: rgba(241, 241, 241, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background-image: url("/images/site-bgr.jpg");
    backdrop-filter: blur(4px);
    padding: 10px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

.main-btn {
    text-decoration: none;
    color: #0b2e13;
}

.main-btn:hover {
    text-decoration: none;

}


img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

/* Navigation */
.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}

/* Top Container */
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}

/* Showcase */
.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url('/images/amazing-routes.jpg');
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}

/* Top Box */
.top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.top-box .price {
    font-size: 2.5rem;
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

/* Boxes */
.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

/* Info */
.road {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
    grid-row: auto;
}


/* Portfolio */
.gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery img {
    width: 100%;
    box-shadow: var(--shadow);
}

/* Footer */
footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}

/* About */
.info {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #005cbf;
    color: white;
    padding: 5rem;
    border-radius: 5rem;
}

.info div {
    text-align: center;
}

.info div:nth-child(1) {
    background-image: url("/images/pic4.jpg");
    background-size: cover;
    border-bottom-right-radius: 5rem;
    border-top-left-radius: 5rem;
}

.info div:nth-child(3) {
    background-image: url("/images/pic1.jpg");
    background-size: cover;
    border-bottom-left-radius: 5rem;
    border-top-right-radius: 5rem;
}

.details-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.details-main .gallery {
    grid-column: 1/4;
    grid-row: 3;
}

.level {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.route-info, .route-description, .comments {
    background-color: var(--lightGray);
    padding: 20px;
    border-radius: 10px;
}

.route-info {
    grid-column: 1;
    grid-row: 1/3;
}

.route-description {
    grid-column: 2/4;
    grid-row: 2;
}

.comments {
    grid-column: 1/4;
    grid-row: 4;

}

#add-route-form {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    padding: 2rem;
}

#map {
    height: 500px;
    width: 100%;
    border-radius: 10px;
}

#video iframe {
    width: 100%;
    height: 500px;
    border-radius: 10px;
}


/*
    CSS for profile
 */
body {
    background-color: rgba(0, 0, 0, 6);
}

.profile-card {
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    min-height: 65vh;
}

.profile-card:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #bbbef5;
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom
}

.profile-card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #0833e3;
    transform: scaleY(0);
    transition: all 0.5s;
    transform-origin: bottom
}

.profile-card:hover::after {
    transform: scaleY(1)
}

.fonts {
    font-size: 20px
}

.social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0
}

.social-list li {
    padding: 10px;
    color: #0833e3;
    font-size: 19px
}

.buttons button:nth-child(1) {
    border: 1px solid #0833e3 !important;
    color: #ffffff;
    height: 40px
}

.buttons button:nth-child(1):hover {
    border: 1px solid #0833e3 !important;
    color: #fff;
    height: 40px;
    background-color: #0833e3
}

.buttons button:nth-child(2) {
    border: 1px solid #0833e3 !important;
    color: #ffffff;
    height: 40px
}

.buttons button:nth-child(2):hover {
    border: 1px solid #0833e3 !important;
    color: #fff;
    height: 40px;
    background-color: #0833e3
}
