<!DOCTYPE html>
<html lang="en" xmlns:--fa-secondary-color="http://www.w3.org/1999/xhtml">

<head>
     <meta charset="UTF-8">
    <title>MobiLeLeLe</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/bdb2495b74.js" crossorigin="anonymous"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Details</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0" >

            <div class="card-body pb-1">
                <h5 class="card-title">
                    Offer year Brand name Model name</h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text"><span>• Mileage</span></div>
                    <div class="card-text"><span>• Price</span></div>
                    <div class="card-text"><span>• Engine type</span></div>
                    <div class="card-text"><span>• Transmission type</span></div>
                    <div class="card-text"><span>• Offer created</span></div>
                    <div class="card-text"><span>• Offer modified</span></div>
                    <div class="card-text"><span>• Seller - First and Last name</span></div>
                </li>
            </ul>
            <div class="card-body">
                <a class="card-link" href="/">Update</a>
                <a class="card-link" href="/">Delete</a>

                <a th:attr="data-offerid=${offerId}" id="upvote" href="#"><i id="upvote-icon" class="fa-solid fa-thumbs-up green-icon"></i></a> (<span id="upvotes">0</span>)
                <a th:attr="data-offerid=${offerId}" id="downvote" href="#"><i id="downvote-icon" class="fa-solid fa-thumbs-down red-icon"></i></a> (<span id="downvotes">0</span>)

            </div>
        </div>
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">
            <img src="/" class="card-img-top"  alt="Car image">
        </div>
    </div>
</div>

<div>
             <footer> </footer>
</div>


<script th:src="@{/js/votes.js}" type="text/javascript"></script>
<script th:inline="javascript">

    /*<![CDATA[*/

    const offerId = [[${offerId}]];
    showVotes(offerId)
    document.getElementById('upvote').addEventListener('click', voteUp)
    document.getElementById('downvote').addEventListener('click', voteDown)


    /*]]>*/
</script>


</body>
</html>
