<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MobiLeLeLe</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container">
    <h2 class="text-center text-white">Upload Offer</h2>
    <form th:action="@{/offers/add}"
          th:method="post"
          th:object="${addOfferModel}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="modelId">Model</label>
                <select id="modelId"
                        name="modelId"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select a model -</option>
                    <optgroup
                            th:each="brand : ${brands}"
                            th:label="${brand.name}">
                        <option
                                th:each="model : ${brand.models}"
                                th:text="${model.name}"
                                th:value="${model.id}"
                                th:selected="*{modelId} == ${model.id}">Model
                        </option>
                    </optgroup>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Vechicle model is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="price" class="text-white font-weight-bold">Price</label>
                <input
                        id="price"
                        th:field="*{price}"
                        th:errorclass="is-invalid"
                        type="number"
                        min="0"
                        step="100"
                        class="form-control"
                        placeholder="Suggested price"
                />
                <p class="invalid-feedback errors alert alert-danger">
                    Suggested price is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="engine">Engine</label>
                <select
                        id="engine"
                        name="engine"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select engine type -</option>
                    <option th:each="e : ${T(bg.softuni.mobilele.model.enums.EngineEnum).values()}"
                            th:text="${e}"
                            th:value="${e}"
                            th:selected="${e} == *{engine}">
                        Engine type
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Engine type is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="transmission">Transmission</label>
                <select id="transmission"
                        name="transmission"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select transmission type -</option>
                    <option th:each="e : ${T(bg.softuni.mobilele.model.enums.TransmissionEnum).values()}"
                            th:text="${e}"
                            th:value="${e}"
                            th:selected="${e} == *{transmission}">
                        Transmission type
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Transmission type is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="year" class="text-white font-weight-bold">Year</label>
                <input
                        id="year"
                        th:field="*{year}"
                        th:errorclass="is-invalid"
                        type="number"
                        step="1"
                        class="form-control"
                        placeholder="Manufacturing year"
                />
                <p class="invalid-feedback errors alert alert-danger">
                    Manufacturing year is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="mileage" class="text-white font-weight-bold">Mileage</label>
                <input
                        id="mileage"
                        th:field="*{mileage}"
                        th:errorclass="is-invalid"
                        type="number"
                        class="form-control"
                        placeholder="Mileage in kilometers"
                />
                <p class="invalid-feedback errors alert alert-danger">
                    Mileage in kilometers is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="text-white font-weight-bold" for="description">Description</label>
            <textarea
                    id="description"
                    th:field="*{description}"
                    th:errorclass="is-invalid"
                    type="textarea"
                    class="form-control"
                    rows="3"
                    placeholder="Description"
            >
            </textarea>
            <p class="invalid-feedback errors alert alert-danger">
                Description is required.
            </p>
        </div>
        <div class="form-group">
            <label class="text-white font-weight-bold" for="imageUrl">Image URL</label>
            <input
                    id="imageUrl"
                    th:field="*{imageUrl}"
                    th:errorclass="is-invalid"
                    type="url"
                    class="form-control"
                    placeholder="Put vehicle image URL here"
            />
            <p class="invalid-feedback errors alert alert-danger">
                Vehicle image URL is required.
            </p>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit Offer"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
